$water: #587df3;
$fire: #e64f4f;
$white: #fff;
$grass: #51d684;
$bug: #9bc54e;
$ice: #5bc0de;
$normal: #c9c9c9;
$poison: #b2a1d7;
$electric: #f7d02c;
$rock: #a36021;
$ground: #814e14;
$psychic: #e06cd7;
$dragon: #6f35fc;
$fighting: #492707;
$fairy: #fdb9e9;
$ghost: #523ff5;
